{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<div class="article-wrapper centered">
  <article>
    <header class="article-header">
      <h1>{{ this.title }}</h1>
      <div class="article-meta">
        <span class="date">{{ this.pub_date | dateformat('MMMM d, Y') }}</span>
      </div>
      {% if this.tags %}
        <div class="article-tags">
          {% for tag in this.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
      {% if this.summary %}
        <p class="article-summary">{{ this.summary }}</p>
      {% endif %}
    </header>

    {{ this.body }}
  </article>
</div>
{% endblock %}
